In [1]:
import pandas as pd
from utils import sql_query

# flask api url with 'sql' endpoint 
url = "http://127.0.0.1:5000/sql"

In [3]:
# response will contain sql query response under 'data' key
response = sql_query(
    url=url,
    query="SELECT * FROM conditions WHERE speed > 10"
)
# it could be casted to pandas.DataFrame type
pd.DataFrame(response["data"])

                              date  direction  hour  speed  temperature
0    Sat, 30 Jul 2022 00:00:00 GMT          0    16     11           23
1    Sat, 30 Jul 2022 00:00:00 GMT          1    18     11           23
2    Sun, 31 Jul 2022 00:00:00 GMT          0    14     12           24
3    Sun, 31 Jul 2022 00:00:00 GMT          1    16     13           25
4    Sun, 31 Jul 2022 00:00:00 GMT          1    18     14           24
..                             ...        ...   ...    ...          ...
409  Tue, 29 Nov 2022 00:00:00 GMT          0     0     12           12
410  Tue, 29 Nov 2022 00:00:00 GMT          0     2     12           12
411  Tue, 29 Nov 2022 00:00:00 GMT          1     4     13           13
412  Tue, 29 Nov 2022 00:00:00 GMT          1     6     14           13
413  Tue, 29 Nov 2022 00:00:00 GMT          1     8     13           12

[414 rows x 5 columns]